<section class="hgroup">
    <div class="container">
        <h1>About Us</h1>
        <ul class="breadcrumb pull-right">
            <li><a href="index.html">Home</a> </li>
            <li class="active">About Us</li>
        </ul>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>Central Ohio Fiction Writers (COFW), is a local chapter of the Romance Writers of America&trade; organization, and a non-profit professional association for writers of all fiction genres. To join COFW you must be a member of RWA&trade;.</p>
                <p>COFW membership includes monthly meetings offering presentations by well-known authors and beneficial subject matter experts; a monthly newsletter with educational articles and member news; a website and email loop for the exchange of ideas; and an annual writing contest which includes the participation of nationally-known editors.</p>
                <p>In addition, as a chapter of Romance Writers of America&trade;, COFW offers members access to the many resources provided by RWA&trade;, including the national website, online courses and a monthly magazine, through which members are kept apprised of valuable up-to-date market information.</p>
                <p>We encourage you to explore our website for information about our upcoming meetings, special events, published authors, and the latest news concerning COFW. If you are interested in learning more about our organization, please join us at our next meeting. Or, if you're just visiting Columbus, please contact us so we can meet you in person!</p>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_details">
                        <h2 class="section_header skincolored">Our <strong>Mission</strong></h2>
                        <p>Since 1987, our mission is to promote excellence in romantic fiction, helping writers to become published and establish careers in their writing field.</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team_members">
    <div class="container">
        <h2 class="section_header fancy centered" style="border-bottom: 0">Meet the Board</h2>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team_member wow animated fadeIn">
                    <figure style="background-image: url(/app/images/1b.jpg)"><img src="/app/images/1a.jpg" alt="1a"></figure>
                    <h5>Jane Conner</h5>
                    <small>President</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team_member wow animated fadeIn">
                    <figure style="background-image: url(/app/images/2b.jpg)"><img src="/app/images/2a.jpg" alt="2a"></figure>
                    <h5>Robin Gianakopooulos</h5>
                    <small>Vice President of Programs</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team_member wow animated fadeIn">
                    <figure style="background-image: url(/app/images/3b.jpg)"><img src="/app/images/3a.jpg" alt="3a"></figure>
                    <h5>Saralee Etter</h5>
                    <small>Vice President of Communications</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team_member wow animated fadeIn">
                    <figure style="background-image: url(/app/images/4b.jpg)"><img src="/app/images/4a.jpg" alt="4a"></figure>
                    <h5>Julia Blaine</h5>
                    <small>Secretary</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="#googleplus"><i class="fa fa-google-plus"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6 col-md-offset-3 col-md-3">
                <div class="team_member wow animated fadeInUp">
                    <figure style="background-image: url(/app/images/3b.jpg)"><img src="/app/images/3a.jpg" alt="3a"></figure>
                    <h5>Stacy McKitrick</h5>
                    <small>Treasurer/Membership Chair</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team_member wow animated fadeIn">
                    <figure style="background-image: url(/app/images/4b.jpg)"><img src="/app/images/4a.jpg" alt="4a"></figure>
                    <h5>Nancy L. White</h5>
                    <small>Contest Chair</small>
                    <hr>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="#googleplus"><i class="fa fa-google-plus"></i></a> </div>
                    <p class="short_bio">In hac habitasse platea dictumst. Suspendisse non tellus ligula. Morbi molestie feugiat tortor a hendrerit.</p>
                </div>
            </div>
        </div>
    </div>
</section>