<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small>CENTRAL OHIO FICTION WRITERS</small>
                    <a title="" href="single.html">
                        <h2 class="post-title">Welcome &amp; Thanks for Visiting!</h2>
                    </a>
                    <p class="post-meta">Follow on <a href="https://twitter.com/cofwriters" target="_blank">Twitter</a> & Like on <a href="https://www.facebook.com/COFWriters/" target="_blank">Facebook</a></p>

                    <img src="/app/images/swirl.png" style="margin-left: auto; margin-right: auto; width: 150px; margin-bottom: 20px">

                    <div class="desc text-left">
                        <p>Central Ohio Fiction Writers (COFW), is a local chapter of the Romance Writers of America&trade; organization, and a non-profit professional association for writers of all fiction genres. To join COFW you must be a member of RWA&trade;.</p>
                        <p>COFW membership includes monthly meetings offering presentations by well-known authors and beneficial subject matter experts; a monthly newsletter with educational articles and member news; a website and email loop for the exchange of ideas; and an annual writing contest which includes the participation of nationally-known editors.</p>
                        <p>In addition, as a chapter of Romance Writers of America&trade;, COFW offers members access to the many resources provided by RWA&trade;, including the national website, online courses and a monthly magazine, through which members are kept apprised of valuable up-to-date market information.</p>
                        <blockquote>Since 1987, our mission is to promote excellence in romantic fiction, helping writers to become published and establish careers in their writing field.</blockquote>
                        <p>We encourage you to explore our website for information about our upcoming meetings, special events, published authors, and the latest news concerning COFW. If you are interested in learning more about our organization, please join us at our next meeting. Or, if you're just visiting Columbus, please contact us so we can meet you in person!</p>
                        <a href="mailto:info@cofwevents.org" class="readmore" title="Email COFW">Send an email to us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>