<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-preview clearfix">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Online classes offered in 2019</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                            <h4><strong>INSIDE OUT:</strong> Crafting Your Character’s Internal Conflict</h4>
                            <p><strong>April 1-30</strong></p>
                            <p>It’s the bottom of the iceberg. The fuel for the fire. Internal conflict—that illusive and often ignored element in your character’s GMC. Yet, like fuel, it’s a powerful element in crafting your character and your story, and it will keep your readers turning pages. In this two-week intensive mini-workshop, RITA® award-winning author, Linnea Sinclair, will show you how to dig deeper to unearth your story’s hidden power by writing to this primal force. (A working knowledge of GMC: Goal, Motivation and Conflict is helpful for this class.)</p>
                            <p>Cost: $25/COFW, $30 RWA, $35 non-RWA</p>
                            <div class="text-left"><a class="btn btn-primary" href='/classes/april'>Register Here</a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                            <h4><strong>PITCHES AND BLURBS AND TAG LINES, OH MY!</strong></h4>
                            <p><strong>June 1-30</strong></p>
                            <p>You’ve written your novel. Now, how are you going to grab the attention of the agent or the editor to sell it? You’re going to construct and practice your pitch, beat your blurb to death and tickle everyone’s interest with your tag lines, that’s how. Bantam Spectra author Linnea Sinclair will explain the importance of pitches and tag lines, guide students through the fun and imaginative procedure to develop the best pitch for their book and give a hands-on lesson in creating those pithy advertising tag lines that, yes, will help not only sell your book to a publisher but help the publisher sell it to readers.</p>
                            <p>Cost: $25/COFW, $30 RWA, $35 non-RWA</p>
                            <div class="text-left"><a class="btn btn-primary" href='/classes/june'>Register Here</a></div>
                        </div><div class="clearfix"></div><br><br>
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-left">
                            <h3><strong>About Linnea Sinclair</strong></h3>
                            <p>Winner of the prestigious national book award, the RITA®, and published by both the Dell and Spectra imprints of Bantam Random House, science fiction romance author Linnea Sinclair has become a name synonymous for high-action, emotionally intense, character-driven novels. Reviewers note that Sinclair’s novels “have the wow-factor in spades,” earning her accolades from both the science fiction and romance communities. Her books have claimed spots in the Locus Top Ten and made the USA Today Extended Bestseller list. Romantic Times BOOKreviews magazine consistently gives Sinclair’s books 4-1/2 stars (their highest rating). Starlog magazine calls Sinclair “one of the reigning queens of science fiction romance.” Sinclair was also nominated for SFWA’s respected John W. Campbell award.</p>
                            <p>A former news reporter and retired private detective, Sinclair’s lively workshops have made her a writing conference favorite nationwide—her recent schedule included workshops in Houston, Denver, Tampa, St Louis, Pittsburgh, Los Angeles, and Dallas. She’s been was featured on Daytime, an NBC syndicated talk show, as well as several nationally syndicated radio features. Her sci fi-police procedural novel, THE DOWN HOME ZOMBIE BLUES, was optioned for movie production.</p>
                            <p>Sinclair resides in Naples, Florida with her husband, Robert Bernadino, and their thoroughly spoiled cats. Readers can find her perched on the third barstool from the left in her Intergalactic Bar and Grille at <a href='http://www.linneasinclair.com'>www.linneasinclair.com</a> <br><strong>Website:</strong> href='http://www.linneasinclair.com'>www.linneasinclair.com</a><br><strong>Email:</strong> <a href='mailto:linnea@linneasinclair.com'>linnea@linneasinclair.com</a><br>Represented by: The Nelson Literary Agency</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>