<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 text-center">
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <h2 class="post-title">Payment Successful!</h2>
                    <p>You have successfully registered for</p>
                    <h4><strong>Pitches and Blurbs and Tag Lines, Oh My!</strong></h4>
                    <p>taught by Linnea Sinclair and presented by Central Ohio Fiction Writers.<p><u>Class begins June 1, 2019.</u></p>
                    <p>In late May, you will receive an email invitation to join our virtual classroom in Groups.io. Please accept this invitation before the class start date.</p><br>
                    <p>Happy Learning!<br>Your Friends at Central Ohio Fiction Writers</p>
                    <p>Click here to return to the classes page  <i class="fa fa-long-arrow-right"></i>  <a href="/classes">Classes Page</a> <br>Or click here to return to the home page <i class="fa fa-long-arrow-right"></i> <a href="/">Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
</section>