<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-preview clearfix">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Online classes offered in 2020</h2>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                            <img class="pull-right" style="max-height: 200px; margin-left: 10px; margin-top: 25px;" src="/app/images/jan_class.png">
                            <h4><strong>Intro to Instagram: January 1-31</strong></h4>
                            <p>Four-week course with <strong>TWENTY</strong> classes! In this course, we will focus on how authors can use Instagram to grow their fan bases
                                and sell more books.</p>
                            <ul>
                                <li>Week 1: How to set up your instagram to attract your ideal reader. </li>
                                <li>Week 2: How to gain followers and turn them into fans.</li>
                                <li>Week 3: Instagram Stories and IGTV</li>
                                <li>Week 4: Working with bookstagrammers and Instagram Ads. </li>
                            </ul>
                            <p>There will be 20 lessons with instructor feedback and worksheets.</p>
                            <p>Alana Albertson is a Latina bestselling romance author (#3 in entire Amazon store) with
                                over half a million views on her Se7en Deadly SEALs serial on Radish. She's the former
                                President of Romance Writers of America's Contemporary Romance, Young Adult, and Chick
                                Lit chapters. Alana Albertson holds a Masters of Education from Harvard University and a
                                Bachelor of Arts in English from Stanford University. A recovering professional ballroom
                                dancer, she lives in San Diego, California, with her husband, two young sons, and six
                                rescue dogs. When she's not spending her time saving dogs from high kill shelters
                                through Pugs N Roses™, the rescue she founded, she can be found watching episodes of
                                Cobra Kai, Vida, Younger or Dallas Cowboys Cheerleaders: Making the Team. Visit her website at <a href="https://www.authoralanaalbertson.com/">authoralanaalbertson.com</a></p>
                            <p>Cost: $25 COFW, $30 RWA, $35 non-RWA</p>
                            <p>Registration is closed.</p>
                            <!-- <div class="text-left"><a class="btn btn-primary" href='/classes/january'>Register Here</a> -->
                            </div>
                        </div>
                        <div class="clearfix"></div><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>