<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <!-- when winners are announced -->
                    
                   <!-- <h3><strong>Grand Prize Winner: Festival of Shadows, by: Eva Greenleigh</strong></h3>
                    <h4>Congratulations to Eva and all of our winners!</h4>
                    <strong>Contemporary</strong>
                    <ul class="list-unstyled">
                        <li>1st Place — Girl’s Best Friend, by: Jeanne Estridge</li>
                        <li>2nd Place — Grasping Hope, by: Josee Telfer</li>
                        <li>3rd Place — Bad Medicine, by: Becke Turner</li>
                    </ul>
                    <strong>Historical</strong>
                    <ul class="list-unstyled">
                        <li>1st Place — Prince of the Underworld, by: Teresia Derlen</li>
                        <li>2nd Place — Finding Wychwood, by: David J. Nix</li>
                        <li>3rd Place — Miss Bryson Heads for a Fall, by: Celeste de Sales</li>
                    </ul>
                    <strong>Paranormal/Fantasy/Futuristic/Time Travel</strong>
                    <ul class="list-unstyled">
                        <li>1st Place — Wicked Deception, by: Raisa Greywood</li>
                        <li>2nd Place — Wolf’s Bane, by: Tolden Rhys</li>
                        <li>3rd Place — Mag Mor, by: Patsy Pratt-Herzog</li>
                    </ul>
                    <strong>Romantic Suspense</strong>
                    <ul class="list-unstyled">
                        <li>1st Place — Beyond Paradise, by: Barbara Forenza</li>
                        <li>2nd Place — Zapata, by: Harper McDavid</li>
                        <li>3rd Place — Blood Rights, by: A.L.R. Court</li>
                    </ul>
                    <strong>Young Adult/New Adult</strong>
                    <ul class="list-unstyled">
                        <li>1st Place — Festival of Shadows, by: Eva Greenleigh</li>
                        <li>2nd Place — Senior Year, by: Rachel Hallaran</li>
                        <li>3rd Place — Letting Go, by: Randi Flynn</li>
                    </ul> -->

                    <!--When contest is closed and winners aren't announced-->
                    <!--<h3>Entries are closed for this year.</h3>
                    <h3>Good luck to all entrants. Stay tuned for the winners!!</h3><br>
                    <img src="/app/images/swirl.png" width="100px"><br><br>

                        <p><strong>Judges:</strong><br>Published Authors and PRO Members</p>
                        <p style="margin-bottom: 5px"><strong>Finalist Judges:</strong><br></p>
                        <ul class="list-unstyled" style="margin-top: 0">
                            <li><strong>Contemporary</strong> — Stephany Evans, Agent, Ayesha Pande Literary</li>
                            <li><strong>Erotic—Christine Klocek</strong> - Linn, Acquiring Editor, Evernight Publishing</li>
                            <li><strong>Historical</strong> — Tara Gelsomino, Executive Editor, Crimson Romance</li>
                            <li><strong>Inspirational</strong> — Emily Rodmell, Editor, Harlequin, Love Inspired</li>
                            <li><strong>Paranormal/Fantasy/Time Travel/Futuristic</strong> — Cori Deyoe, Agent, Three Seas Literary Agency</li>
                            <li><strong>Romantic Suspense</strong> — Alexandra Sehulster, Editor, St. Martin's</li>
                            <li><strong>Young Adult/New Adult</strong> - Michelle Grajkowski, Agent, Three Seas Literary Agency</li>
                        </ul><br><br>
                        <p><strong>Questions:</strong><br>Nancy White at <a href="mailto:nancywhite0529@gmail.com">nancywhite0529@gmail.com <i class="fa fa-envelope"></i></a><br>Janie Mason at <a href="mailto:Janie@JanieMason.com">janie@janiemason.com <i class="fa fa-envelope"></i></a></p>-->

                    <!--Info when contest is open-->
                    <div class='row'>
                            <div class='col-lg-2'>
                                <img src="app/images/heart.jpg" style="max-width:100%">
                            </div>
                            <div class='col-lg-10 text-left'>
                                <h2 style='text-align: left !important; margin-top: -20px'>2019 Annual Ignite the Flame Contest</h2> 
                                <h3>A rewarding contest for ANY writer!</h3>
                                <p>We call our contest Ignite the Flame for a reason.  We want to see the scene where your couple meets—whether it’s for the first time or a reunion after a time apart—and that unforgettable spark of attraction sizzles between them.  Whether your characters are ancient nobility or modern-day entrepreneurs, LGBTQ or straight, super stars or high school students—or even not-quite-human—tease us with the moment their romance ignites.</p>
                                <p>Submit 15 pages of an <strong>unpublished and uncontracted</strong> novel-length manuscript (minimum of 40,000 words) starting <strong>May 1, 2019 through May 31, 2019, 11:59 EDT</strong>.</p>
                                <p>All writers are welcome, whether unpublished or published!</p>
                                <p>First prize is a copy edit of your full manuscript, up to 150,000 words, by Enterprise Book Services - a $300 value.</p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="width: 240px; margin: 0 auto;">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="HN5ML53JAFUMY">
                                <table>
                                    <tr><td><input type="hidden" name="on0" value="Membership">Pay Contest Fee</td></tr><tr><td><select name="os0">
                                            <option value="COFW Member">COFW Member $25.00 USD</option>
                                            <option value="RWA Member">RWA Member $30.00 USD</option>
                                            <option value="Non-member">Non-Member $35.00 USD</option>
                                </select> </td></tr>
                                </table>
                                <input type="hidden" name="currency_code" value="USD">
                                <input style="margin-top: 15px" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>

                        </div>
                        <div class="col-sm-12">
                            <h4 class="post-meta">
                                <a class="btn btn-primary" style="margin-right: 10px" href="http://www.cofwevents.org/app/docs/2019_EntryForm.docx" target="_blank">Contest Entry Form </a>
                            </h4>
                            <h4 class="post-meta">
                                <a class="btn btn-primary" style="margin-right: 10px" href="http://www.cofwevents.org/app/docs/2019_ContestRules.pdf" target="_blank">Contest Rules</a>
                            </h4>
                            <h4 class="post-meta">
                                <a class="btn btn-primary" style="margin-right: 10px" href="http://www.cofwevents.org/app/docs/2019_ScoreSheet.docx" target="_blank">Score Sheet</a>
                            </h4>
                        </div>
                    </div>
                    <h4 style="text-decoration: underline; margin-bottom: 20px"><strong>Send all entries and completed entry forms as attachments to <a href="mailto:ignitetheflamecontest2019@gmail.com" style="color: #000 !important; cursor: pointer">ignitetheflamecontest2019@gmail.com</a></strong></h4>
    
                </div>
            </div>
        </div>
    </div>
</section>