<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small class="dont-break-out">cofwpresident@gmail.com</small>
                    <h2 class="post-title">Contact Us & We Will Get in Touch </h2>
                    <p class="post-meta">Follow on <a href="https://twitter.com/cofwriters" target="_blank">Twitter</a> & Like on <a href="https://www.facebook.com/COFWriters/" target="_blank">Facebook</a></p>

                    <div class="desc">
                        <strong>President: </strong> <a href="mailto:cofwpresident@gmail.com">Jenessa McRoy</a><br>
                        <strong>Secretary: </strong> <a href="mailto:jeanne.estridge.author@gmail.com">Jeanne Estridge</a><br>
                        <strong>Treasurer: </strong> <a href="mailto:cofwtreasurer@gmail.com">Stacy McKitrick</a><br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        Central Ohio Fiction Writers<br>
                        P.O. Box 24254<br>
                        Dayton, Ohio 45424
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p>Feel free to contact any of the members listed above!<br>Thank you!</p>
                        <div class="clearfix"></div>
                        <strong>Having trouble with the site? Please let us know!</strong> <br>Contact the <a href="mailto:cofwwebdeveloper@gmail.com">Administrator</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>