<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 text-center">
                <!--<p class="post-preview" style="padding-bottom: 10px">Thank you to everyone who entered, the volunteers and judges who helped make the contest possible.-->
                    <!--<br>The chapter would also like to extend a big <strong>Thank You</strong> to Nancy White, who coordinated this year’s contest.-->
                <!--</p>-->
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <h2 class="post-title">2016 Ignite the Flame Contest</h2>
                    <h4 class="post-meta"><a class="btn btn-primary" href="http://cofwevents.org/app/docs/ITF_Contest_Rules_2016.pdf" target="_blank"> <i class="fa fa-download"></i> Download Rules PDF </a></h4><br>
                    <div class="desc text-left">
                        <p><strong>Fee:</strong>  $20 for COFW members.  $25 for non-members.  ELECTRONIC PAYMENT ONLY.</p>
                        <p><strong>Deadline:</strong> COFW will begin accepting entries on June 1, 2016.  All entries must be received by 11:59 p.m. EST on June 30, 2016.</p>
                        <p><strong>Eligibility:</strong> Entry must be an unpublished completed manuscript in book-length fiction (minimum of 40,000 words).</p>
                        <p><strong>Contest Description:</strong> Our contest is named Ignite the Flame for a reason. We want to lose ourselves in the one scene of your unpublished manuscript when your hero and heroine first meet (or reunite after a period of time) and experience that first spark of attraction, that irresistible heat drawing them together. So kindle that fire—show us your first meeting, the surprise reunion, an awkward introduction or the unforgettable moment of initial awareness. Thrill us with the promise of what is to come. We want to be there when they experience the first stirrings of attraction for one another. Tease us with a little flicker that is destined to become an inferno. The Ignite, the Flame Contest, is designed to help you polish that critical first meet scene so that it crackles with romantic energy! ***Note: This is not a first kiss or first sex scene contest***</p>
                        <p><strong>Entry:</strong> On-line entries only. Submit up to15 pages (15 page maximum), double-spaced, with manuscript’s title, genre and page number in the upper left-hand header. If your Igniting the Flame scene is not in the first chapter of your manuscript, please include a set-up for the judge. Set-up and entry are to be submitted as one file. The set-up will not be critiqued or affect your submission score. </p>
                        <p><strong>Categories:</strong> Contemporary, Historical, Paranormal/Fantasy/Futuristic/Time Travel, Young Adult/New Adult, Erotic, Inspirational and Romantic Suspense.</p>
                        <p><strong>Judges:</strong> Published Authors</p>
                        <p><strong>Finalist Judges:</strong><br>
                            Contemporary: Elle Keck, Editor, Harper Collins<br>
                            Erotic: Christine Klocek-Lim, Acquiring Editor, Evernight Publishing<br>
                            Historical: Tara Gelsomino, Executive Editor, Crimson Romance<br>
                            Inspirational: Emily Rodmell, Editor, Harlequin, Love Inspired<br>
                            Paranormal/Fantasy/Futuristic/Time Travel: Tahra Seplowin, Editor, Harlequin, HQN<br>
                            Romantic Suspense: Megha Parekh, Editor, Grand Central<br>
                            Young Adult/New Adult: Liz Pelletier, CEO &amp; Publisher, Entangled</p>
                        <p><strong>Grand Prize:</strong> Full manuscript critique and evaluation from award-winning romance author and instructor Leigh Michaels, a prize valued at $295. The Grand Prize will be awarded to the entry with the highest numerical score (combined from all three judges) in the first round. In the event of a tie, the Grand Prize will be awarded to the entry with the highest score in the “Ignite the Flame” section of the scoresheet. If there is still a tie, the Grand Prize will be awarded to the entry with the highest score in the “First Impressions” section of the scoresheet.</p>
                        <p><strong>First, Second and Third Place Category Finalists:</strong>  First, Second and Third place winners in each category will be decided by the scores given by the judges in the first round and each winner will receive a certificate. Their entries will be sent to the agent/editor assigned to that category for review.  Hopefully, these finalists will receive a request for a submission.</p>
                        <p><strong>Questions:</strong> Send questions to Ignite the Flame Contest Coordinator, Nancy White, <a href="mailto:nancywhite0529@gmail.com">nancywhite0529@gmail.com</a>.</p>
                        <p><strong>Rules:</strong> To view or print the rules of the Ignite the Flame Contest, please click the following link. <a class="btn btn-primary" href="http://cofwevents.org/app/docs/ITF_Contest_Rules_2016.pdf" target="_blank">Contest Rules</a></p>
                        <p><strong>Send Entries to:</strong> <a href="mailto:ignitetheflamecontest@gmail.com">ignitetheflamecontest@gmail.com</a></p>
                        <p><strong>Special Announcements:</strong> (1) As a result of last year’s Ignite the Flame Contest, Nicole D’Arienzo, Managing Editor, The Wild Rose Press, offered Cindy James, our 2015 Ignite the Flame Contest first place winner in the Historical Category, a contract.  Her book, <em>Their Highland Trust</em>, is scheduled for publication in June 2016.  Congratulations Cindy! (2) Congratulations to Janna MacGregor, 2nd place winner in the Historical Category of our 2015 Ignite the Flame Contest. The <em>Bad Luck Bride</em> will be published by St. Martin’s in the spring of 2017. Congratulations Janna!</p>

                        <!--<h4>Contemporary:</h4>-->
                            <!--First Place, Marie E. Bast, <em>“The Perfect Client”</em><br>-->
                            <!--Second Place, Celeste Deveney, <em>“My Fair Mademoiselle”</em><br>-->
                            <!--Third Place, Meghan E. Kozack, <em>“Temporary Boyfriend”</em><br><h4>Erotic:</h4>-->
                            <!--First Place, Aurora Miller, <em>“Consent and Submission”</em><br>-->
                            <!--Second Place, Lindsey R. Davis, <em>“Chamber’s Rule”</em><br>-->
                            <!--Third Place, Robyn Douglas, <em>“The Breath of Dragon Flame”</em><br><h4>Historical:</h4>-->
                            <!--First Place, Cindy L. James, <em>“Their Highland Trust”</em><br>-->
                            <!--Second Place, Janice Leyh, <em>“The Secret Affairs of a Duke’s Daughter”</em><br>-->
                            <!--Third Place, Andrea McConnell, <em>“The British Captain”</em><br><h4>Paranormal/Futuristic/Fantasy/Time Travel:</h4>-->
                            <!--First Place, Harris Fischer, <em>“Queen of Hearts”</em><br>-->
                            <!--Second Place, Amanda Uhl, <em>“Mind Waves”</em><br><h4>Romantic Suspense:</h4>-->
                            <!--First Place, Harris Fischer, <em>“The Keys to Her Heart”</em><br>-->
                            <!--Second Place, Lindsey R. Davis, <em>“Legends of the Raven”</em><br>-->
                            <!--Third Place, Teresa Granlund, <em>“Desperate Escape”</em><br><h4>Young Adult/New Adult:</h4>-->
                            <!--First Place, Christine Gunderson, <em>“Soren’s Resistance”</em><br>-->
                            <!--Second Place, Jessica Calella, <em>“She Laughs in Pink”</em><br>-->
                            <!--Third Place, Meghan Steinbrenner, <em>“Bittersweet”</em><br>-->
                            <!--<h3>Congratulations to all the winners!</h3>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>