<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small>info@cofwevents.org</small>
                    <h2 class="post-title">Contact Us & We Will Get in Touch </h2>
                    <p class="post-meta">Follow on <a href="https://twitter.com/cofwriters" target="_blank">Twitter</a> & Like on <a href="https://www.facebook.com/COFWriters/" target="_blank">Facebook</a></p>

                    <div class="desc">
                        <strong>President: </strong> <a href="mailto:cofwpresident@yahoo.com">Jane Conner</a><br>
                        <strong>VP Programs: </strong> <a href="mailto:rgianakopoulos@gmail.com">Robin Gianakopoulos</a><br>
                        <strong>VP Communications: </strong> <a href="mailto:saralee_etter@yahoo.com">Saralee Etter</a><br>
                        <strong>Secretary: </strong> <a href="mailto:julmassie@aol.com">Julia Blaine</a><br>
                        <strong>Treasurer: </strong> <a href="mailto:semckitrick@aol.com">Stacy McKitrick</a><br>
                        <strong>Membership Chair: </strong> <a href="mailto:lrice39@wowway.com">Linda Rice</a>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        Ignite the Flame Contest<br>
                        <strong>Contest Chair: </strong> <a href="mailto:t75nlw1@gmail.com">Nancy L. White</a><br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        Central Ohio Fiction Writers<br>
                        P.O. Box 211043<br>
                        Columbus, Ohio 43221-1043
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p>Feel free to contact any of the members listed above!<br>Thank you!</p>
                        <div class="clearfix"></div>
                        <strong>Having trouble with the site? Please let us know!</strong> <br>Contact the <a href="mailto:cofwwebdeveloper@gmail.com">Administrator</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>