<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 text-center">
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <h2>2017 Ignite the Flame Contest</h2>
                    <h4 class="post-meta">
                        <a class="btn btn-primary" style="margin-right: 10px" href="http://www.cofwevents.org/app/docs/2017_ContestRules.pdf" target="_blank">Contest Rules </a>
                    </h4><br>
                    <div class="desc text-left">
                        <p><strong>Contest Name:</strong> Ignite the Flame Contest</p>
                        <p><strong>Sponsor:</strong> Central Ohio Fiction Writers, a chapter of Romance Writers of America&trade;</p>
                        <p><strong>Fee:</strong> $20.00 for COFW members, $25.00 for non-members, ELECTRONIC PAYMENT ONLY</p>
                        <p><strong>When:</strong> Entries will be accepted from May 1st - 31st, 2017</p>
                        <p><strong>Contest Description:</strong> Our contest is named Ignite the Flame for a reason. We want to lose ourselves in the one scene of your unpublished manuscript when your hero and heroine first meet (or reunite after an extended period of time) and experience that first spark of attraction, that irresistible heat drawing them together. So kindle that fire---show us that first meeting, the surprise reunion, an awkward introduction or the unforgettable moment of initial awareness. Thrill us with the promise of what is to come. We want to be there when they experience the first stirrings of attraction for one another. Tease us with a little flicker that is destined to become an inferno. The Ignite the Flame Contest is designed to help you polish that critical first meet scene so that it crackles with romantic energy! <strong>Note: This is not a first kiss or first sex scene contest.</strong></p>
                        <p><strong>Categories:</strong> Contemporary, Historical, Inspirational, Romantic Suspense, Paranormal/Fantasy/Futuristic/ Time Travel, Young Adult/New Adult, and Erotic</p>
                        <p><strong>Judges:</strong> Published Authors and PRO Members</p>
                        <p><strong>Finalist Judges:</strong> Publishing Industry Editors, TBA</p>
                        <p><strong>Questions:</strong> Please contact co-chairs Nancy White at <a href="mailto:nancywhite0529@gmail.com">nancywhite0529@gmail.com <i class="fa fa-envelope"></i></a> or Janie Mason at <a href="mailto:Janie@JanieMason.com">janie@janiemason.com <i class="fa fa-envelope"></i></a></p>
                        <p><strong>Rules:</strong> To view or print the rules of the Ignite the Flame Contest, please click the following link. <a style="text-transform: uppercase; letter-spacing: 0.2em;" class="btn btn-primary" href="http://www.cofwevents.org/app/docs/2017_ContestRules.pdf" target="_blank"><i class="fa fa-download"></i> Contest Rules</a></p>
                        <p class="text-center"><strong>Permission to Forward is Granted and Encouraged</strong></p></div>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</section>