<section class="hgroup">
    <div class="container">
        <h1>Contact us</h1>
        <h2>Feel free to submit the form below, or you can contact any of our listed contacts and committees. </h2>
        <ul class="breadcrumb pull-right">
            <li><a ui-sref="home">Home</a> </li>
            <li class="active">Contact</li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="office_address col-sm-4 col-md-4">
                <div class="team_member">
                    <!--<img src="/app/images/cofw-logo-2.png" width="90" height="90" alt="logo">-->
                    <span class="fa-stack fa-4x" style="color: #428bca">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5>COFW</h5>
                    <small>Central Ohio Fiction Writers</small><br><br>
                    <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                    <address>
                        <strong>President: </strong> <a href="mailto:cofwpresident@yahoo.com">Jane Conner</a><br>
                        <strong>VP Programs: </strong> <a href="mailto:rgianakopooulos@gmail.com">Robin Gianakopooulos</a><br>
                        <strong>VP Communications: </strong> <a href="mailto:saralee_etter@yahoo.com">Saralee Etter</a><br>
                        <strong>Secretary: </strong> <a href="mailto:julmassie@aol.com">Julia Blaine</a><br>
                        <strong>Treasurer/Membership Chair: </strong> <a href="mailto:semckitrick@aol.com">Stacy McKitrick</a><br>
                        <hr>
                        Ignite the Flame Contest<br>
                        <strong>Contest Chair: </strong> <a href="mailto:t75nlw1@gmail.com">Nancy L. White</a><br>
                        <hr>
                        Website<br>
                        <strong>Website Developer: </strong> <a href="mailto:rconner614@yahoo.com">Rachel Conner</a><br>
                    </address>
                </div>
            </div>
            <div class="contact_form col-sm-8 col-md-8">
                <form name="contact_form" id="contact_form" method="post">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <label>Name</label>
                            <input name="name" id="name" class="form-control" type="text" value="">
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label>E-mail</label>
                            <input name="email" id="email" class="form-control" type="text" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label>Subject</label>
                            <input name="subject" id="subject" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label>Message</label>
                            <textarea name="message" id="message" rows="8" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-12"><br/>
                            <a id="submit_btn" class="btn btn-primary" name="submit">Submit Message</a> <span id="notice" class="alert alert-warning alert-dismissable hidden" style="margin-left:20px;"></span> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>