<section class="content clearfix">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div ng-repeat="post in filtered | orderBy:'createdOnDate':true">
                <div class="post-preview text-center clearfix">
                    <small>{{post.createdOnDate}}</small>
                    <a ng-href="/post/{{post.id}}">
                        <h2 class="post-title">{{post.title}}</h2>
                    </a>
                    <p class="post-meta">Posted by Jane | Category <a href="#">{{post.type}}</a></p>

                    <div class="media-element entry">
                        <img ng-src="{{post.image}}" class="img-responsive">
                        <div class="magnifier">
                            <div class="buttons">
                                <a ng-href="/post/{{post.id}}" title=""><i class="icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-left">
                        <span ng-bind-html="safeHTML(post.content)"></span>
                        <a ng-href="/post/{{post.id}}" class="readmore" title="">continue reading</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-md-4">
                <div id="sidebar" class="text-center">
                    <div class="widget">
                        <div class="widget-title clearfix">
                            <h3>About COFW</h3>
                        </div>
                        <p>Since 1987, our mission is to promote excellence in romantic fiction, helping writers to become published and establish careers in their writing field.</p>
                        <img src="/app/images/swirl.png" style="margin-left: auto; margin-right: auto; width: 100px; margin-bottom: 10px">
                        <div class="widget-title clearfix">
                            <h3>Post Categories</h3>
                        </div>
                        <ul class="categories">
                            <li><a style="cursor: pointer" ng-click="resetFilters()">All</a></li>
                            <li><a style="cursor: pointer" ng-click="word = 'meeting'">Meetings</a></li>
                            <li><a style="cursor: pointer" ng-click="word = 'speaker'">Speaker</a></li>
                            <li><a style="cursor: pointer" ng-click="word = 'news'">News</a></li>
                            <li><a style="cursor: pointer" ng-click="word = 'contest'">Contest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <uib-pagination total-items="totalPosts" previous-text="Newer Posts" max-size="3" next-text="Older Posts" template-url="custompagination.html" ng-model="currentPage"></uib-pagination>
            <!--<ul class="pager">-->
                <!--<li class="next">-->
                    <!--<a href="#">Older Posts &rarr;</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
</section>

<script type="text/ng-template" id="custompagination.html">
    <ul class="pagination">
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" ng-show="page !== 1" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)">{{::getText('previous')}} &larr;</a></li>
        <!--<li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>-->
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" ng-show="page !== totalPages" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)">{{::getText('next')}} &rarr;</a></li>
    </ul>
</script>