<section class="content clearfix">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div ng-repeat="post in page()" >
                <div class="post-preview text-center clearfix">
                    <small>{{post.createdOnDate}}</small>
                    <a ng-href="/post/{{post.id}}">
                        <h2 class="post-title">{{post.title}}</h2>
                    </a>
                    <p class="post-meta">Category | <a href="#" ng-click="typeFilter(post.type)">{{post.type}}</a></p>

                    <div class="media-element entry">
                        <a ng-href="/post/{{post.id}}" title="">
                            <img ng-src="{{post.image}}" class="img-responsive">
                        </a>
                    </div>
                    <div class="desc text-left">
                        <span ng-bind-html="safeHTML(post.content)"></span>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                <div id="sidebar" class="text-center">
                    <div class="widget">
                        <div class="widget-title clearfix">
                            <h3>About COFW</h3>
                        </div>
                        <p>Since 1987, our mission is to promote excellence in romantic fiction, helping writers to become published and establish careers in their writing field.</p>
                        <img src="/app/images/swirl.png" style="margin-left: auto; margin-right: auto; width: 100px; margin-bottom: 10px">
                        <div class="widget-title clearfix">
                            <h3>Post Categories</h3>
                        </div>
                        <ul class="categories">
                            <li><a style="cursor: pointer" ng-class="{'active': tag === ''}" ng-click="tag = ''">All</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 1}" ng-click="tag = 1">Meetings</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 2}" ng-click="tag = 2">Speakers</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 4}" ng-click="tag = 4">Contest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="pagination">
                <li>
                    <a ng-show="currentPage != 1" href="#" ng-click="back()">&larr; Newer Posts</a>
                </li>
                <li>
                    <a href="#" ng-show="currentPage != pageCount()" ng-click="forward()">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>