<section class="call_to_action">
    <div class="container">
        <h3>Dedicated to the support and education of romance writers.</h3>
        <h4>“There is only one plot—things are not what they seem.” —Jim Thompson</h4>
    </div>
</section>
<section class="features_teasers_wrapper">
    <div class="container">
        <div class="row">
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/responsive.png">
                <h3>Clean, Responsive Design</h3>
                <p>A multipurpose but mainly<strong> business oriented</strong> design, built to serve as a foundation for your web projects. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/git.png">
                <h3>Based on Twitter Bootstrap</h3>
                <p>The front-end development framework with a <strong>steep learning curve</strong>. It changes the way you develop sites. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/less.png">
                <h3>Makes real use of {LESS}</h3>
                <p><strong>Restart</strong> comes with a style.less file that tries to use all the power of <strong>{less} and bootstrap combined</strong>. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
        </div>
    </div>
</section>
<section class="hgroup">
    <div class="container">
        <h1>Recent News</h1>
        <h2>This is where we post any information about upcoming events or news! Be sure to check back often.</h2>
        <ul class="breadcrumb pull-right">
            <li class="active">Home</li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div id="leftcol" class="col-sm-8 col-md-8">
                <article class="post">
                    <div class="post_header">
                        <h3 class="post_title">
                            <a href="single_post.html">January Meeting - New Location!</a>
                        </h3>
                        <div class="post_sub">
                            <i class="fa-time"></i> March 1, 2013
                        </div>
                    </div>
                    <div class="post_content">
                        <figure>
                            <a href="single_post.html">
                                <img alt="0" src="images/portfolio/p4.jpg">
                            </a>
                        </figure>
                        <p>Speaker – Donna MacMeans.
                            <br>Donna is a multi-published author and Certified Public Accountant.
                            <br>DATE:  Jan. 16, 2016
                            <br>TIME:  Business meeting at 12:30 pm, Speaker at 1:30 pm
                            <br>LOCATION – We will be meeting at this new location for the first several months of 2016:
                            <br><br>Fire Station 83
                            <br>4283 Davidson Road
                            <br>Hilliard, OH 43026
                            <br><br>TOPIC – With the holidays behind us, it’s time to turn our attention to taxes. Let Donna answer your pressing tax questions as it relates to writing – you’re sure to learn things you didn’t know!
                            <ul>
                                <li>Is your writing a business or a hobby?  Nine questions you need to answer to know if your writing is a business.</li>
                                <li>How to maximize your deductions to reduce income</li>
                                <li>As an indie or traditional author, what forms must YOU send to the IRS to report certain transactions?</li>
                                <li>Now that you’ve published, what forms can you expect to receive to assist you in preparing your return?</li>
                                <li>Self-employment tax, do you owe it? How is it calculated?</li>
                                <li>Suggestions on making your bookkeeping easier for 2016.</li>
                                </ul>
                        </p>
                        <a href="single_post.html" class="btn btn-primary">Read More</a> </div>
                </article>
                <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
            </div>
            <div id="sidebar" class="col-sm-4 col-md-4">
                <aside class="widget">
                    <h4>Blog Categories</h4>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">All</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </aside>
                <aside class="widget ads clearfix">
                    <h4>Tabs</h4>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
                        <li class=""><a data-toggle="tab" href="#tags">Tags</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="recent" class="tab-pane fade active in">
                            <ul class="media-list">
                                <li class="media">
                                    <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a>
                                    <a href="#" class="media-date">19<span>FEB</span></a>
                                    <h5 class="media-heading">
                                        <a href="#">Media heading, this is a title of a news...</a>
                                    </h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a>
                                    <a href="#" class="media-date">18<span>FEB</span></a>
                                    <h5 class="media-heading">
                                        <a href="#">Media heading, of a news item.</a>
                                    </h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a>
                                    <a href="#" class="media-date">17<span>FEB</span></a>
                                    <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                                </li>
                                <li class="media">
                                    <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a>
                                    <a href="#" class="media-date">16<span>FEB</span></a>
                                    <h5 class="media-heading">
                                        <a href="#">Media heading, of a news item.</a>
                                    </h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                                </li>
                            </ul>
                        </div>
                        <div id="tags" class="tab-pane fade">
                            <a class="label label-default">Default</a>
                            <a class="label label-primary">Primary</a>
                            <a class="label label-success">Success</a>
                            <a class="label label-warning">Warning</a>
                            <a class="label label-danger">Danger</a>
                            <a class="label label-info">Info</a>
                            <a class="label label-default">Default</a>
                            <a class="label label-success">Success</a>
                            <a class="label label-danger">Danger</a>
                            <a class="label label-info">Info</a>
                            <a class="label label-default">Default</a>
                            <a class="label label-success">Success</a>
                            <a class="label label-success">Success</a>
                            <a class="label label-warning">Warning</a>
                            <a class="label label-danger">Danger</a>
                            <a class="label label-warning">Warning</a>
                            <a class="label label-warning">Warning</a>
                            <a class="label label-danger">Danger</a>
                            <a class="label label-info">Info</a>
                            <a class="label label-inverse">Inverse</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>