<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="post-preview text-center clearfix">
                    <small>CENTRAL OHIO FICTION WRITERS IS PROUD TO HOST</small>
                    <h2 class="post-title">Deborah Gilbert</h2>
                    <h4 style="margin-top: -15px">Publisher and Lead Editor of SoulMate Publishing</h4>
                    <h3 style="margin-top: -15px">&amp;</h3>
                    <h2 style="margin-top: -15px">Eloisa James</h2>
                    <h4>New York Times Best-Selling Historical Author</h4>
                    <h1 style="text-transform: uppercase; letter-spacing: .2em"><strong>- March 18th, 2017 -</strong></h1>
                    <div class="clearfix"></div><br>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="/app/docs/Promo_Info_March_2017.pdf" target="_blank" class="btn btn-primary">Event Flyer</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="/app/docs/March_18_Schedule.pdf" target="_blank" class="btn btn-primary">Event Schedule</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <a href="/app/docs/Parking-Info.pdf" target="_blank" class="btn btn-primary">Event Parking</a>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="desc text-center">
                        <p>Join us for an all-day event on March 18, 2017 at<br><a href='http://www.germanvillage.com' target='_blank'><strong>German Village Society Haus 588 South Third St, Columbus, OH 43215</strong></a>.<br>Extra parking has been secured for the event; for parking information click <strong><a href='/app/docs/March_18_Schedule.pdf'>here.</a></strong></p>
                        <p>Free to COFW Members / $10 for non-members at door.<br><strong><a href='/membership'>Join COFW today</a></strong> to get into this event for free! Plus so much more!</p>
                        <p>Event begins at 8:30 am, download the full schedule <strong><a href='/app/docs/March_18_Schedule.pdf' target='_blank'> here <i class='fa fa-file-pdf-o'></i></a></strong><br>Eloisa James Book Signing: 3:30-5:00 pm. Signing is FREE and open to public!<br>Book signing hosted by <a href='http://www.bookloft.com'>The Book Loft</a> but will be held at the German Village Haus.<br><br>For more information on the event, email coordinator <strong><a href='mailto:sherirenaeadkins@gmail.com'>Sheri Adkins</a></strong>.</p>
                    </div>
                    <h1><strong>We hope to see you there!</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section>