<section class="hgroup centered">
    <div class="container">
        <h1>Meetings</h1>
        <h2>This is where we post quick information about upcoming meetings!</h2>
        <ul class="breadcrumb pull-right">
            <li><a href="/">Home</a> </li>
            <li class="active">Meetings</li>
        </ul>
    </div>
</section>
<section class="service_teasers">
    <div class="container">
        <div class="service_teaser" ng-repeat="post in posts | orderBy:'createdOnDate':true | filter:{postTags: 1}">
            <div class="row">
                <div class="service_photo col-sm-4 col-md-4">
                    <figure style="background-image:url({{post.image}}); background-size: contain;"></figure>
                </div>
                <div class="service_details col-sm-8 col-md-8">
                    <h2 class="section_header skincolored">{{post.title}}</h2>
                    <span ng-bind-html="safeHTML(post.content)"></span>
                    <!--<a class="btn btn-primary pull-right" href="documentation/index.html"><i class="fa fa-gears"></i>&nbsp; Read Full Documentation</a> -->
                </div>
            </div>
        </div>
    </div>
</section>