<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 text-center">
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <h2 class="post-title">Payment Successful!</h2>
                    <p>You have successfully registered for our Zoom meeting!</p>
                    <p>We will send the Zoom link to the email address you provided on the afternoon on the Friday before the meeting. If you have any questions or do not receive the link, please contact our Program Chair at <a href="mailto:jeanneestridge@gmail.com">jeanneestridge@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>