<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div ng-repeat="post in posts | orderBy:'createdOnDate':true | filter:{postTags: tag}">
                    <div class="post-preview text-center clearfix">
                        <small>{{post.createdOnDate}}</small>
                        <a ng-href="/post/{{post.id}}">
                            <h2 class="post-title">{{post.title}}</h2>
                        </a>
                        <img src="/app/images/swirl.png" style="margin-left: auto; margin-right: auto; width: 150px; margin-bottom: 20px">
                        <p class="post-meta">Posted by {{post.createdBy}}  | Category <a href="#" ng-click="typeFilter(post.type)">{{post.type}}</a></p>
                        <div class="desc text-left">
                            <span ng-bind-html="safeHTML(post.content)"></span>
                            <a ng-href="/post/{{post.id}}" class="readmore" title="">continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div id="sidebar" class="text-center">
                    <div class="widget">
                        <div class="widget-title clearfix">
                            <h3>Post Categories</h3>
                        </div>
                        <ul class="categories">
                            <li><a style="cursor: pointer" ng-class="{'active': tag === ''}" ng-click="tag = ''">All</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 1}" ng-click="tag = 1">Meetings</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 2}" ng-click="tag = 2">Speaker</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 3}" ng-click="tag = 3">Newsletter</a></li>
                            <li><a style="cursor: pointer" ng-class="{'active': tag === 4}" ng-click="tag = 4">Contest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <uib-pagination total-items="totalPosts" previous-text="Newer Posts" max-size="3" next-text="Older Posts" template-url="custompagination.html" ng-model="currentPage"></uib-pagination>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="custompagination.html">
    <ul class="pagination">
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" ng-show="page !== 1" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)">{{::getText('previous')}} &larr;</a></li>
        <!--<li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>-->
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" ng-show="page !== totalPages" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)">{{::getText('next')}} &rarr;</a></li>
    </ul>
</script>