<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small class="dont-break-out">cofwtreasurer@gmail.com</small>
                    <h2 class="post-title">Join Romance Writers of America&trade;<br> & Become a COFW Member!</h2>
                    <p class="post-meta">Thank you for your interest!</p>
                    <div class="desc">

                        <!--Dec 31st-->
                        <!--<div class="text-left">
                            <p>COFW is a chapter of Romance Writers of America™. Those seeking membership in COFW must be members of RWA™. Not a member? No problem! Click the Join RWA™ button below to register. After registering with RWA™, you can join COFW using the COFW Membership button below.</p>
                            <p>COFW membership year is Jan-Dec, regardless of when you join. However, if you join in November or December, your membership will also be good for the following year.</p>
                            <p>New Members! Price increases to $30 on 1/1/18. If you join before 12/31/17, use the 2017 COFW Membership button to pay this year’s rate of $25. It’ll be good for all of 2018, too!</p>
                            <p>Current Members! Use the 2018 COFW Membership button below to renew for $25. You have until 1/31/18 to receive that rate. After that date you will be considered a new member and will have to pay the increase.</p>-->

                            <!--January 1st-->
                            <p>COFW is a chapter of Romance Writers of America™. Those seeking membership in COFW must be members of RWA™. Not a member? No problem! Click the Join RWA™ button below to register. After registering with RWA™, you can join COFW using the COFW Membership button below.</p><p>COFW membership year is Jan-Dec, regardless of when you join. However, if you join in November or December, your membership will also be good for the following year. Price is $30 for new members. Current members will receive a $5 discount if they renew before 1/31. After that date they will be considered a new member.</p>

                            <!--Stays the same-->
                            <p>For questions regarding membership to COFW, please contact <a href="mailto:cofwtreasurer@gmail.com">cofwtreasurer@gmail.com</a>. Also, dues are not deductible as a charitable contribution but may qualify as a business expense.</p><p>If you have any questions about COFW before joining, please feel free to contact us.</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <a class="btn btn-primary" href="https://www.rwa.org/p/cm/ld/fid=521" target="_blank">Join RWA&trade;</a>
                                <!--<a class="btn btn-primary" href="https://www.rwa.org/p/pr/vi/prodid=1110" target="_blank">2017 COFW Membership</a>-->
                                <a class="btn btn-primary" href="https://www.rwa.org/p/pr/vi/prodid=1384" target="_blank">2018 COFW Membership</a>
                            </div>
                        </div><br>
                        <div class="clearfix"></div><hr>
                        Central Ohio Fiction Writers<br>
                        P.O. Box 24254<br>
                        Dayton, Ohio 45424
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>President: </strong> <a href="mailto:cofwpresident@gmail.com">Jenessa McRoy</a><br>
                        <strong>Secretary: </strong> <a href="mailto:jeanne.estridge.author@gmail.com">Jeanne Estridge</a><br>
                        <strong>Treasurer: </strong> <a href="mailto:cofwtreasurer@gmail.com">Stacy McKitrick</a><br>
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>Website Developer: </strong> <a href="mailto:cofwwebdeveloper@gmail.com">Rachel Conner</a><br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p>Feel free to contact any of the members listed above!<br>Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>