<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="single-post clearfix">
                    <small>Trends of Makeup</small>
                    <a title="" href="single.html">
                        <h2 class="post-title">Shopping</h2>
                    </a>
                    <p class="post-meta">Your Cart <a href="#">2 ITEM</a> Go to <a href="#">Checkout <i class="icon-right-thin"></i></a></p>

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_01.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_09.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_03.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_04.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_05.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_06.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_07.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_08.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shop-item entry">
                                <img src="demos/shop_02.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="cart.html" title=""><i class="icon-cart"></i></a>
                                        <a href="single-shop.html" title=""><i class="icon-search"></i></a>
                                    </div><!-- end buttons -->
                                </div>
                            </div><!-- end shop item -->
                            <div class="shop-title text-center">
                                <h3><a href="single-shop.html" title="">Shop Item</a></h3>
                                <small>$19.00</small>
                            </div><!-- end shop-title -->
                        </div><!-- end col -->

                        <!-- Pager -->
                        <ul class="pager col-md-12 col-sm-12 col-xs-12 clearfix">
                            <li class="next">
                                <a href="#">Older Items &rarr;</a>
                            </li>
                        </ul>
                    </div><!-- end row -->
                </div><!-- end post-preview -->
            </div><!-- end col-lg-9 -->

            <div class="col-lg-3 col-md-3">
                <div id="sidebar" class="text-center">
                    <div class="widget">
                        <div class="widget-title clearfix">
                            <h3>About Pretty</h3>
                        </div>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                    <div class="widget">
                        <div class="widget-title clearfix">
                            <h3>Post Categories</h3>
                        </div>
                        <ul class="categories">
                            <li><a href="#" title="">Meetings</a></li>
                            <li><a href="#" title="">Speaker</a></li>
                            <li><a href="#" title="">News</a></li>
                            <li><a href="#" title="">Contest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>