<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small class="dont-break-out">cofwtreasurer@gmail.com</small>
                    <h2 class="post-title">Become a COFW Member!</h2>
                    <p class="post-meta">Thank you for your interest!</p>
                    <div class="desc">
                        <p>CCOFW membership year is Jan-Dec, regardless of when you join. However, if you join in November or December, your membership will also be good for the following year. Price is $50 per year, or $25 if you are a student. Members must renew before 1/31 each year to retain access to the members-only Facebook group and email list-serve. All members must be at least 18 years old.</p><p>For the remainder of 2021, we are not charging a fee.</p>
                        <p>For questions regarding membership to COFW, please contact <a href="mailto:cofwtreasurer@gmail.com">cofwtreasurer@gmail.com</a>. Also, dues are not deductible as a charitable contribution but may qualify as a business expense.</p><p>If you have any questions about COFW before joining, please feel free to contact us.</p>
                    </div>

                        <!-- <div class="row">
                            <div class="col-lg-12 text-center">
                                <a class="btn btn-primary" href="https://www.rwa.org/Online/About_RWA/Become_a_Member/Online/About/Become_a_Member.aspx" target="_blank">Join RWA&trade;</a>
                                <a class="btn btn-primary" href="https://cofw.rwa.org/" target="_blank">2021 COFW Membership</a>
                            </div>
                        </div> -->
                        <br>
                        <div class="clearfix"></div><hr>
                        Central Ohio Fiction Writers<br>
                        P.O. Box 24254<br>
                        Dayton, Ohio 45424
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>President: </strong> <a ng-href="mailto:{{leadership.president.email}}">{{leadership.president.name}}</a><br>
                        <strong>Secretary: </strong> <span ng-hide="{{leadership.secretary.email}}">{{leadership.secretary.name}}</span><a ng-show="{{leadership.secretary.email}}" ng-href="mailto:{{leadership.secretary.email}}">{{leadership.secretary.name}}</a><br>
                        <strong>Treasurer: </strong><a ng-show="{{leadership.treasurer.email}}" ng-href="mailto:{{leadership.treasurer.email}}">{{leadership.treasurer.name}}</a>
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>Website Developer: </strong> <a href="mailto:cofwwebdeveloper@gmail.com">Rachel Conner</a><br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p>Feel free to contact any of the members listed above!<br>Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>