<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview text-center clearfix">
                    <small class="dont-break-out">cofwtreasurer@gmail.com</small>
                    <h2 class="post-title">Join Romance Writers of America&trade;<br> & Become a COFW Member!</h2>
                    <p class="post-meta">Thank you for your interest!</p>
                    <div class="desc">
                        <p class="text-left">COFW is a chapter of Romance Writers of America&trade;.  Those seeking membership in COFW must be members of RWA&trade;. Not a member? No problem! Click the Join RWA&trade; button below to register. After registering with RWA&trade;, you can join COFW using the COFW Membership button below. If you're already a member of RWA&trade; and want to renew your COFW membership or join COFW, use the 2017 COFW Membership button below.</p>
                        <p class="text-left">COFW Membership is $25 per year. There is a $5 late fee for renewing members who pay after January 31. For questions regarding membership to COFW, please contact <a href="mailto:cofwtreasurer@gmail.com">cofwtreasurer@gmail.com</a>. Also, dues are not deductible as a charitable contribution but may qualify as a business expense.<br> If you have any questions about COFW before joining, please feel free to contact us.</p>
                        <!--<h4>It's time to renew or join COFW for 2017!</h4>-->

                        <!--<p class="text-left">Want to join COFW? Welcome! If you haven't registered with RWA&trade;, use the button below. Then click the 2017 COFW Membership button to join COFW.</p>-->
                        <div class="row">
                            <div class="col-lg-12">
                                <a class="btn btn-primary" href="https://www.rwa.org/p/cm/ld/fid=521" target="_blank">Join RWA&trade;</a>
                                <a class="btn btn-primary" href="https://www.rwa.org/p/pr/vi/prodid=1110" target="_blank">2017 COFW Membership</a>
                            </div>
                        </div><br>
                        <!--<h4>We look forward to seeing you next year!</h4>-->
                        <div class="clearfix"></div><hr>
                        Central Ohio Fiction Writers<br>
                        P.O. Box 24254<br>
                        Dayton, Ohio 45424
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>President: </strong> <a href="mailto:cofwpresident@yahoo.com">Jenessa McRoy</a><br>
                        <strong>Secretary: </strong> <a href="mailto:jeanne.estridge.author@gmail.com">Jeanne Estridge</a><br>
                        <strong>Treasurer: </strong> <a href="mailto:cofwtreasurer@gmail.com">Stacy McKitrick</a><br>
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <strong>Website Developer: </strong> <a href="mailto:cofwwebdeveloper@gmail.com">Rachel Conner</a><br>
                        <div class="col-sm-offset-3 col-sm-6">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p>Feel free to contact any of the members listed above!<br>Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>