<section class="hgroup" ng-cloak>
    <div class="container">
        <h1>Our Members</h1>
        <ul class="breadcrumb pull-right">
            <li><a href="/">Home</a> </li>
            <li class="active">Members</li>
        </ul>
    </div>
</section>
<section class="team_members" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" ng-repeat="member in members" style="margin-top: 10px; margin-bottom: 10px">
                <div class="team_member wow animated fadeIn">
                    <figure><a ng-href="/member/{{member.id}}"><img style="width: 120px; height: 120px; overflow: hidden" ng-src="/app/images/members/{{member.image}}"></a></figure>
                    <h5><a ng-href="/member/{{member.id}}">{{member.firstName}} {{member.lastName}}</a></h5>
                    <hr>
                    <div class="team_social">
                        <a ng-if="member.facebook" ng-href="{{member.facebook}}"><i class="fa fa-facebook"></i></a>
                        <a ng-if="member.website" ng-href="{{member.website}}"><i class="fa fa-desktop"></i></a>
                        <a ng-if="member.twitter" ng-href="{{member.twitter}}"><i class="fa fa-twitter"></i></a>
                        <a ng-if="member.pinterest" ng-href="{{member.pinterest}}"><i class="fa fa-pinterest"></i></a>
                        <a ng-if="member.email" ng-href="mailto:{{member.email}}"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>