<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">
                <div class="post-preview text-center clearfix" style="padding-top: 1em;">
                    <h2 class="post-title">{{member.firstName}} {{member.lastName}}</h2>
                    <p class="post-meta" ng-show="member.website">Website: <a target="_blank" href="{{member.website}}">{{member.website}}</a></p>
                    <ul class="list-inline social-icons">
                        <li ng-show="member.facebook"><a href="{{member.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li ng-show="member.twitter"><a href="{{member.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li ng-show="member.pinterest"><a href="{{member.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li ng-show="member.googlePlus"><a href="{{member.googlePlus}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div class="text-center">
                        <img ng-src="/app/images/members/{{member.image}}" style="margin: 15px; width: 200px; height: 200px">
                    </div>
                    <div class="desc text-left">
                        <!--<span ng-bind-html="safeHTML(post.content)"></span>-->
                        <p ng-bind-html="safeHTML(member.blurb)"></p>
                        <div class="col-sm-12" ng-show="member.novels" style="padding-left: 0">
                            <dl>
                                <dt>Novels</dt>
                                <dd ng-repeat="novel in member.novels">
                                    <span ng-bind-html="safeHTML(novel)"></span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-12" ng-show="member.novellas" style="padding-left: 0">
                            <dl>
                                <dt>Novellas & Short Stories</dt>
                                <dd ng-repeat="novella in member.novellas">
                                    <span ng-bind-html="safeHTML(novella)"></span>
                                </dd>
                            </dl>
                        </div>
                        <!--<dl>-->
                            <!--<dt ng-show="member.novels">Novels</dt>-->
                            <!--<dd ng-repeat="novel in member.novels">{{novel}}</dd>-->
                            <!--<dd ng-show="member.novels && member.novellas">&nbsp;</dd>-->
                            <!--<dt ng-show="member.novellas">Novellas</dt>-->
                            <!--<dd ng-repeat="novella in member.novellas">{{novella}}</dd>-->
                        <!--</dl>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
