<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-preview clearfix text-center">
                    <small>CENTRAL OHIO FICTION WRITERS</small>
                    <h2>Members</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 fade-in-up"
                            ng-repeat="member in members | orderBy:'lastName'">
                            <div class="shop-item entry">
                                <a ng-href="/members/member/{{member.id}}">
                                    <img ng-src="/app/images/members/{{member.image}}" alt="member.firstName"
                                        class="img-responsive member">
                                </a>
                                <div ng-click="goTo(member.id)" class="magnifier" ng-show="member.website || member.email || member.facebook || member.twitter || member.pinterest || member.instagram || member.googlePlus">
                                    <div class="buttons" ng-click="$event.stopPropagation()">
                                    <a ng-show="member.website" href="{{member.website}}" target="_blank"><i class="fa fa-home"></i></a>
                                        <a href="mailto:{{member.email}}" ng-show="member.email" target="_blank"><i class="fa fa-envelope"></i></a>
                                        <a href="{{member.facebook}}" ng-show="member.facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="{{member.twitter}}" ng-show="member.twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="{{member.pinterest}}" ng-show="member.pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        <a href="{{member.googlePlus}}" ng-show="member.googlePlus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                        <a href="{{member.instagram}}" ng-show="member.instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-title text-center">
                                <h3><a ng-href="/members/member/{{member.id}}">{{member.firstName}} {{member.lastName}}</a></h3>
                            </div>
                        </div>
                    </div><br><br>
                    <img src="/app/images/swirl.png" style="width: 100px">
                    <div class="row">
                        <h4>Are we missing your information? Need to make an update?</h4>
                        <a class="btn btn-primary" href="/member-form">Submit a Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>