<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">
                <div class="post-preview text-center clearfix" style="padding-top: 1em;">
                    <h2 class="post-title">Members Exclusive</h2>
                    <p class="post-meta">Archive of Chapter Newsletters</p>
                    <img src="/app/images/swirl.png" style="margin-left: auto; margin-right: auto; width: 100px; margin-bottom: 10px">
                    <div class="desc">
                        <h2>2019</h2>
                        <ul class="list-unstyled post-meta">
                            <li>
                                <a style="color: #000" href="app/docs/January_2019.pdf" target="_blank">Issue 1 - Published January 2019</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/Feb_2019.pdf" target="_blank">Issue 2 - Published February 2019</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/March_2019.pdf" target="_blank">Issue 3 - Published March 2019</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/April_2019.pdf" target="_blank">Issue 4 - Published April 2019</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/May_2019.pdf" target="_blank">Issue 5 - Published May 2019</a>
                            </li>
                        </ul>
                        <h2>2018</h2>
                        <ul class="list-unstyled post-meta">
                            <li>
                                <a style="color: #000" href="app/docs/Jan_2018.pdf" target="_blank">Issue 1 - Published January 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/March_2018.pdf" target="_blank">Issue 2 - Published March 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/April_2018.pdf" target="_blank">Issue 3 - Published April 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/May_2018.pdf" target="_blank">Issue 4 - Published May 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/June_2018.pdf" target="_blank">Issue 5 - Published June 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/July_2018.pdf" target="_blank">Issue 6 - Published July 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/August_2018.pdf" target="_blank">Issue 7 - Published August 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/Sep_2018.pdf" target="_blank">Issue 8 - Published September 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/October_2018.pdf" target="_blank">Issue 9 - Published October 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/November_2018.pdf" target="_blank">Issue 10 - Published November 2018</a>
                            </li>
                            <li>
                                <a style="color: #000" href="app/docs/Dec_2018.pdf" target="_blank">Issue 11 - Published December 2018</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>