<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-12">
                <div class="post-preview text-center clearfix" style="padding-top: 1em;">
                    <h2 class="post-title">Members Exclusive</h2>
                    <p class="post-meta">Archive of Chapter Newsletters</p>
                    <div class="desc">
                        <ul class="list-unstyled post-meta" >
                            <li><a style="color: #000" href="../docs/January_2016.pdf" target="_blank">January 2016</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
