<section class="hgroup">
    <div class="container">
        <h1>{{post.title}}</h1>
        <h2><i class="fa-time"></i>{{post.createdOnDate}}</h2>
        <ul class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li>Post</li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div id="leftcol" class="col-sm-8 col-md-8">
                <article class="post">
                    <div class="post_content">
                        <img alt="0" src="{{post.image}}"><br><br>
                        <span ng-bind-html="safeHTML(post.content)"></span>
                    </div>
                </article>
            </div>
            <div id="sidebar" class="col-sm-4 col-md-4">
                <aside class="widget">
                    <h4>Tabs</h4>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#">Recent</a></li>
                        <!--<li class=""><a data-toggle="tab" href="#tags">Tags</a></li>-->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div id="recent" class="tab-pane fade active in">
                            <ul class="media-list">
                                <li class="media" ng-repeat="post in posts">
                                    <a href="/post/{{post.id}}" class="media-photo" style="background-image:url({{post.image}})"></a>
                                    <a href="/post/{{post.id}}" class="media-date">{{post.createdOn | date:'dd'}}<span>{{post.createdOn | date:'MMM'}}</span></a>
                                    <h5 class="media-heading">
                                        <a href="/post/{{post.id}}" >{{post.title}}</a>
                                    </h5>
                                    <span style="clear: left" ng-bind-html="safeHTML(post.content.split('<br>')[0])"></span>
                                </li>
                            </ul>
                        </div>
                        <!--<div id="tags" class="tab-pane fade"> <a class="label label-default">Default</a> <a class="label label-primary">Primary</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-default">Default</a> <a class="label label-success">Success</a> <a class="label label-success">Success</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-warning">Warning</a> <a class="label label-warning">Warning</a> <a class="label label-danger">Danger</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>-->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>