<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 text-center">
                <div class="post-preview text-center clearfix" style="padding-top: 10px">
                    <h2 class="post-title">Payment Successful!</h2>
                    <p>Your entry fee was successfully submitted with Paypal.<br> Click here to return to the contest page  <i class="fa fa-long-arrow-right"></i>  <a href="/contest">Contest Page</a> <br>Or click here to return to the home page <i class="fa fa-long-arrow-right"></i> <a href="/">Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
</section>