<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="post-preview text-center clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left text-left">
                                <h4 class="post-title post-meta">Saturday, October 21st, 2017</h4>
                                <h3 class="text-left" style="margin-top: 0">Join us for an all-day workshop with</h3>
                                <h2 style="text-align: left">Larry Brooks</h2>
                                <h3 class="text-left">Author of <em>Story Fix</em> and <em>Story Engineering</em></h3>
                            </div>
                            <div class="pull-right"><br>
                                <img src="/app/images/larrybrooks.jpg" width="80%">
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p class="text-left"><strong>Location:</strong> <a href="https://goo.gl/maps/RUkXuKf1Q6P2" target="_blank">The Courtyard Marriott, 2350 Westbest Drive, Columbus <i class="fa fa-map-marker"></i></a><br><strong>Fee:</strong> $55 for COFW Members or $75 for Non-Members, which includes continental breakfast and lunch!<br>Purchase raffle tickets for a chance to win fun prizes!<br>Hotel rooms are $129 per night for reservations made before 9/29/2017.<br><strong>Date:</strong> Saturday, October 21, 2017, 9 am - 5 pm. Registration starts at 8 am.<br><strong>Speaker:</strong> Larry is a recognized writing expert and loves to share his expertise and love of the craft.  He is the author of several excellent books on writing, including STORY ENGINEERING, STORY PHYSICS, and STORY FIX. The workshop will help you understand the principles and craft of fiction, and harness the various forces of storytelling.<br><strong>Workshop Topics:</strong></p>
                        <ol class="text-left" style="margin-top: -15px">
                            <li>The Hidden Secrets of Story Structure</li>
                            <li>The Beautiful Collision of Concept and Premise</li>
                            <li>Dramatic Arc as the Key to Everything (including character)</li>
                            <li>When Every Month is NanoWriMo</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <p>Please contact Linda Rice via <a href="mailto:lindarice05@gmail.com">lindarice05@gmail.com</a> with questions!</p>
                <h3><strong>Complete the Steps Below to Register</strong></h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div style="background: rgba(255,255,255, .8); padding-left: 3em; padding-right: 3em">
                            <h4>1. Pay Workshop Fee</h4>
                            <h5>Non-Member $75</h5>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="EJ4WYF4N85GTL">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                            <hr style="width: 50%">
                            <h5>COFW Member $55</h5>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="L2LSFMS5JNJXU">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div style="background: rgba(255,255,255, .8); padding-left: 3em; padding-right: 3em">
                            <h4 ng-hide="sent" class="text-center">2. Complete Registration</h4>
                            <p ng-hide="sent" class="text-center"><small>To ensure successful registration, please fill out this form manually.<br>To prevent spam, auto-filled forms may be blocked. Thank you!</small></p>
                            <h3 ng-show="sent">Registration Submitted!</h3>
                            <h5 ng-show="sent">Don't forget to pay your fee through paypal, or your registration spot will not be reserved.</h5>
                            <div class="row">
                                <div class="col-sm-12 text-left" ng-hide="sent">
                                    <form ng-submit="sendEmail()">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 form-group">
                                                <label>First Name:</label>
                                                <input class="form-control" type="text" ng-model="form.user.firstName" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 form-group">
                                                <label>Last Name:</label>
                                                <input class="form-control" type="text" ng-model="form.user.lastName" required>
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <label>Address:</label>
                                                <input class="form-control" type="text" ng-model="form.user.address" required>
                                            </div>
                                            <div class="col-lg-5 col-md-6 form-group">
                                                <label>City:</label>
                                                <input class="form-control" type="text" ng-model="form.user.city" required>
                                            </div>
                                            <div class="col-lg-4 col-md-6 form-group">
                                                <label>State:</label>
                                                <input class="form-control" type="text" ng-model="form.user.state" required>
                                            </div>
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Zip:</label>
                                                <input class="form-control" type="text" ng-model="form.user.zip" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 form-group">
                                                <label>Phone:</label>
                                                <input class="form-control" type="text" ng-model="form.user.phone" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 form-group">
                                                <label>Email:</label>
                                                <input class="form-control" type="text" ng-model="form.user.email" required>
                                            </div>
                                            <div class="col-lg-8 col-md-10 form-group">
                                                <label>Name to Appear on Badge:</label>
                                                <input class="form-control" type="text" ng-model="form.user.badgeName" required>
                                            </div>
                                            <div class="col-lg-8 col-md-10 form-group">
                                                <label>Paypal Email (to confirm fee payment):</label>
                                                <input class="form-control" type="text" ng-model="form.user.payPalAccount" required>
                                            </div>
                                            <div class="col-lg-6 col-md-6 form-group">
                                                <label>Food Choice:</label>
                                                <select class="form-control" ng-model="form.user.foodChoice" ng-options="choice as choice for choice in foodChoices" required>
                                                    <option value="" disabled>Select an Option</option>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-12 form-group">
                                                <label>Are you a COFW Member?&nbsp;</label>
                                                <input class="checkbox-inline" type="checkbox" ng-model="form.user.isMember" style="margin-top: -5px">
                                            </div>
                                            <div class="clearfix"></div>
                                            <input type="text" ng-model="form.catchMe" style="position: absolute; left: -4000px">
                                            <div class="text-center">
                                                <button class="btn btn-primary" type="submit">
                                                    <span ng-show="!sending">Submit</span>
                                                    <span ng-show="sending"><i class="fa fa-pulse fa-spinner"></i></span>
                                                </button>
                                            </div>
                                            <div class="clearfix"></div><br>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>