<section class="content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="post-preview text-center clearfix">
                    <h2 class="post-title">Saturday, October 21st, 2017</h2>
                    <h3>All-day Workshop with</h3>
                    <h2>Larry Brooks</h2>
                    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                        <img src="/app/images/larrybrooks.jpg" style="width: 55%">
                    </div>
                    <div class="clearfix"></div><br>
                    <h3>Author of <em>Story Fix</em> and <em>Story Engineering</em></h3>
                    <div class="desc text-center">
                        <p><strong>Location:</strong> <a href="https://goo.gl/maps/RUkXuKf1Q6P2" target="_blank">The Courtyard Marriott, 2350 Westbest Drive, Columbus <i class="fa fa-map-marker"></i></a></p>
                        <p class="text-left">Larry is a recognized writing expert and loves to share his expertise and love of the craft.  He is the author of several excellent books on writing, including STORY ENGINEERING, STORY PHYSICS, and STORY FIX. The workshop will help you understand the principles and craft of fiction, and harness the various forces of storytelling.</p>
                        <p class="text-left">Workshop Topics: <ol class="text-left"><li>The Hidden Secrets of Story Structure</li><li>The Beautiful Collision of Concept and Premise</li><li>Dramatic Arc as the Key to Everything (including character)</li><li>When Every Month is NanoWriMo</li></ol></p>
                        <p class="text-left">Don't forget to make a food selection for lunch when registering: Ham & Swiss, Beef & Cheddar, Turkey & Swiss.</p>
                        <p class="text-left">Please contact Linda Rice via lindarice05@gmail.com with questions!</p>
                    </div>
                    <h3><strong>Complete the Steps Below to Register!</strong></h3>
                    <h4>1. Pay Workshop Fee</h4>
                    <form class="text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="EJ4WYF4N85GTL">
                        <table style="width: 50%; margin-left: auto; margin-right: auto">
                            <tr><td><input type="hidden" name="on0" value="Options">Options</td></tr><tr><td><select name="os0">
                            <option value="COFW Member">COFW Member $55.00 USD</option>
                            <option value="Non-COFW Member">Non-COFW Member $75.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input style="margin-top: 10px" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <h3 ng-show="sent">Registration Submitted!</h3>
                    <h5 ng-show="sent">Don't forget to pay your fee through paypal, or your registration spot will not be reserved.</h5>
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 text-left" ng-hide="sent" style="background: rgba(255,255,255, .8); padding-left: 3em; padding-right: 3em">
                        <h4 class="text-center">2. Complete Registration</h4>
                        <form ng-submit="sendEmail()">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>First Name:</label>
                                    <input class="form-control" type="text" ng-model="form.user.firstName" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>Last Name:</label>
                                    <input class="form-control" type="text" ng-model="form.user.lastName" required>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label>Address:</label>
                                    <input class="form-control" type="text" ng-model="form.user.address" required>
                                </div>
                                <div class="col-lg-5 col-md-6 form-group">
                                    <label>City:</label>
                                    <input class="form-control" type="text" ng-model="form.user.city" required>
                                </div>
                                <div class="col-lg-4 col-md-6 form-group">
                                    <label>State:</label>
                                    <input class="form-control" type="text" ng-model="form.user.state" required>
                                </div>
                                <div class="col-lg-3 col-md-6 form-group">
                                    <label>Zip:</label>
                                    <input class="form-control" type="text" ng-model="form.user.zip" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>Phone:</label>
                                    <input class="form-control" type="text" ng-model="form.user.phone" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>Email:</label>
                                    <input class="form-control" type="text" ng-model="form.user.email" required>
                                </div>
                                <div class="col-lg-8 col-md-10 form-group">
                                    <label>Name to Appear on Badge:</label>
                                    <input class="form-control" type="text" ng-model="form.user.badgeName" required>
                                </div>
                                <div class="col-lg-8 col-md-10 form-group">
                                    <label>Paypal Email (to confirm fee payment):</label>
                                    <input class="form-control" type="text" ng-model="form.user.payPalAccount" required>
                                </div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>Food Choice:</label>
                                    <select class="form-control" ng-model="form.user.foodChoice" ng-options="choice as choice for choice in foodChoices" required>
                                        <option value="" disabled>Select an Option</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label>Are you a COFW Member?</label>
                                    <input class="checkbox-inline" type="checkbox" ng-model="form.user.isMember">
                                </div>
                                <div class="clearfix"></div>
                                <input type="text" ng-model="form.catchMe" style="position: absolute; left: -4000px">
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">
                                        <span ng-show="!sending">Submit</span>
                                        <span ng-show="sending"><i class="fa fa-pulse fa-spinner"></i></span>
                                    </button>
                                </div>
                                <div class="clearfix"></div><br>
                            </div>
                        </form>
                    </div>
                    <!--<button class="btn btn-default" ng-click="sendEmail()">Send</button>-->
                </div>
            </div>
        </div>
    </div>
</section>